@{
    ViewData["Title"] = "EmailVerification";
}

<h1>Email Verification</h1>
<h2> An Email has been sent to the spesified email address.</h2>
<h2> Please check your mail and press on the link to verify your account</h2>
