@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>

<form action="/Home/Login" method="post">
    <label for="username"><b>Username:</b></label>
    <input type="text" name="username" value=""/>
    <label for="password"><b>Password</b></label>
    <input type="password" name="password" value=""/>
    <button type="submit">Login</button>
</form>